services:
  postgres:
    image: postgres:17
    container_name: postgres
    restart: unless-stopped
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/home/juha/workspace/sofrosyne/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d sofrosyne"]
      interval: 5s
      timeout: 5s
      retries: 20

volumes:
  pgdata:
